data/                 
*.zip                  
*.pth                   
*.pt                   
*.bin                 
*.h5                  
 
__pycache__/
*.pyc
 
.venv/
env/
 
.idea/                 
.vscode/               
*.swp                 
.DS_Store              
 
*.log
/tmp/
